<main>
  <content>
    <form action="" onsubmit="return false">
      <h1>Reset Password</h1>
      <div class="form-field">
        <input  [type]="passVisible() ? 'text' : 'password'"   name="password" required  placeholder="Password">
        <mat-icon class="c-pointer" (click)="togglePassVisible('pass')">
          @if(passVisible()){
            visibility_off
          } @else {
            visibility
          }
        </mat-icon>
      </div>
      <div class="form-field">
        <input  [type]="repeatPassVisible() ? 'text' : 'password'" name="password" required  placeholder="Repeated Password">
        <mat-icon class="c-pointer" (click)="togglePassVisible('repeat')">
          @if(repeatPassVisible() ){
            visibility_off
          } @else {
            visibility
          }
        </mat-icon>
      </div>
        <button>Submit</button>
        <a class="c-pointer" (click)="navigator.navigateTo('')">Remembered your password?</a>
    </form>
  </content>
</main>
