<main>
  <content>
    
    <form action="" onsubmit="return false">
      <h1>Login</h1>
      <div class="form-field">
        <input type="email" id="email" name="email" required placeholder="Email">
        <mat-icon>email</mat-icon>
      </div>

      <div class="form-field">
        <input  [type]="passVisible() ? 'text' : 'password'"  id="password" name="password" required  placeholder="Password">
        <mat-icon class="c-pointer" (click)="togglePassVisible()">
          @if(passVisible()){
            visibility_off
          } @else {
            visibility
          }
        </mat-icon>
      </div>
        <button>Sign in</button>
        <a class="c-pointer" (click)="navigator.navigateTo('forgot-password')">Forgot your password?</a>
     
    </form>
  </content>
</main>
